# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#design
/refs

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

/src/bin/teste.pro
/src/bin/teste.pro.user
/src/bin/teste_analyzer.pro
/src/bin/teste_analyzer.pro.user
/src/bin/test.pro
/src/bin/test.pro.user
/src/bin/obj
/src/bin/build-teste-Desktop-Debug
/src/bin/build-teste_analyzer-Desktop-Debug
/src/bin/build-test-Desktop-Debug
/src/bin/sources/*.o
# production
/build
/bin
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/.vs
